---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Container: Image Build"
on:
  workflow_dispatch: {}
  pull_request:
    branches: ["coreweave"]
    types: ["opened", "synchronize", "reopened"]
    paths:
      - .github/workflows/publish-image.yaml
  push:
    branches:
      - coreweave
    paths:
      - .github/workflows/publish-image.yaml
      - "**/*"

jobs:
  publish-images:
    name: Publish Image
    permissions:
      contents: write
      packages: write
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set VERSION from VERSION.txt
        id: set_version
        run: echo "VERSION=$(cat VERSION.txt)" >> $GITHUB_ENV

      - name: Set image tag
        run: echo "TAGS=v${{ env.VERSION }}-${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Set PUSH
        run: echo "PUSH=true" >> $GITHUB_ENV

      - name: Set PLATFORM
        run: echo "PLATFORM=flyio" >> $GITHUB_ENV

      - name: Log into registry ghcr.io
        uses: docker/login-action@v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish client
        shell: bash
        run: |
          REPOS="ghcr.io/${{ github.repository }}/tailscale" TARGET="client" ./build_docker.sh

      - name: Publish k8s-operator
        shell: bash
        run: |
          REPOS="ghcr.io/${{ github.repository }}/k8s-operator" TARGET="operator" ./build_docker.sh

      - name: Publish k8s-nameserver
        shell: bash
        run: |
          REPOS="ghcr.io/${{ github.repository }}/k8s-nameserver" TARGET="k8s-nameserver" ./build_docker.sh
